In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.stats import norm
import matplotlib.pyplot as plt
import math
import plotly.express as px
import requests

import matplotlib.pyplot as plt
import matplotlib.patches as patches

import pandasql as ps

In [2]:
data = pd.read_csv('../data/residente.csv')

from tabulate import tabulate

e = data.head(10)

print(tabulate(e.values, e.columns, tablefmt="pipe"))

|    UPM |   VIV_SEL |   HOGAR |   NUM_REN |   PAREN |   SEXO |   EDAD |   DIA |   MES |   P3_7 |   NIVEL |   GRADO |   P3_9_1 |   P3_9_2 |   P3_9_3 |   P3_10 |   P3_11 |   P3_12 |   FAC_HOGAR |   UPM_DIS |   EST_DIS | DOMINIO   |   TLOC |   ESTRATO |   ENT |
|-------:|----------:|--------:|----------:|--------:|-------:|-------:|------:|------:|-------:|--------:|--------:|---------:|---------:|---------:|--------:|--------:|--------:|------------:|----------:|----------:|:----------|-------:|----------:|------:|
| 100023 |         1 |       1 |         1 |       1 |      2 |     41 |    16 |     9 |      2 |      10 |       2 |        1 |        1 |        1 |       1 |     nan |       1 |         174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         2 |       1 |         1 |       1 |      1 |     46 |     2 |     9 |      2 |       6 |       3 |        2 |        1 |        1 |       7 |     nan |     nan |         174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         2 |       1 |         2 |       2 |      2 |     47 |     5 |     9 |      2 |       3 |       3 |        2 |        1 |        1 |       6 |       4 |     nan |         174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         2 |       1 |         3 |       3 |      2 |     23 |    22 |     1 |      2 |       6 |       3 |        1 |        1 |        1 |       1 |     nan |       1 |         174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         2 |       1 |         5 |       3 |      2 |     17 |    22 |    10 |      1 |       6 |       2 |        1 |        1 |        1 |       5 |       4 |     nan |         174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         2 |       1 |         6 |       3 |      1 |     13 |    25 |     8 |      1 |       3 |       1 |        1 |        1 |        1 |       5 |       4 |     nan |         174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         2 |       1 |         4 |       3 |      2 |     21 |    17 |     9 |      2 |       6 |       3 |        1 |        1 |        1 |       6 |       4 |     nan |         174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         3 |       1 |         1 |       1 |      2 |     50 |     5 |     6 |      2 |       8 |       4 |        1 |        1 |        1 |       1 |     nan |       1 |         174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         3 |       1 |         2 |       3 |      2 |     19 |     5 |     6 |      1 |       8 |       1 |        1 |        1 |        1 |       1 |     nan |       1 |         174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         4 |       1 |         1 |       1 |      1 |     56 |    16 |     8 |      2 |       2 |       6 |        2 |        1 |        1 |       1 |     nan |       4 |         174 |         1 |         7 | U         |      1 |         3 |     1 |

In [3]:
q1=ps.sqldf("SELECT * FROM data WHERE PAREN == 1", locals())
q1.head()

,UPM,VIV_SEL,HOGAR,NUM_REN,PAREN,SEXO,EDAD,DIA,MES,P3_7,...,P3_10,P3_11,P3_12,FAC_HOGAR,UPM_DIS,EST_DIS,DOMINIO,TLOC,ESTRATO,ENT
0,100023,1,1,1,1,2,41,16.0,9.0,2.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1
1,100023,2,1,1,1,1,46,2.0,9.0,2.0,...,7.0,NaN,NaN,174,1,7,U,1,3,1
2,100023,3,1,1,1,2,50,5.0,6.0,2.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1
3,100023,4,1,1,1,1,56,16.0,8.0,2.0,...,1.0,NaN,4.0,174,1,7,U,1,3,1
4,100023,5,1,1,1,1,71,7.0,5.0,2.0,...,4.0,4.0,NaN,174,1,7,U,1,3,1

In [4]:
A=q1.UPM.astype(str)
B=q1.VIV_SEL.astype(str)
C = A+B
q1['code']=C

In [5]:
q1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59285 entries, 0 to 59284
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UPM        59285 non-null  int64
 1   VIV_SEL    59285 non-null  int64
 2   HOGAR      59285 non-null  int64
 3   NUM_REN    59285 non-null  int64
 4   PAREN      59285 non-null  int64
 5   SEXO       59285 non-null  int64
 6   EDAD       59285 non-null  int64
 7   DIA        59285 non-null  float64
 8   MES        59285 non-null  float64
 9   P3_7       59285 non-null  float64
 10  NIVEL      59285 non-null  float64
 11  GRADO      59285 non-null  float64
 12  P3_9_1     59285 non-null  float64
 13  P3_9_2     59285 non-null  float64
 14  P3_9_3     59285 non-null  float64
 15  P3_10      59285 non-null  float64
 16  P3_11      15666 non-null  float64
 17  P3_12      44325 non-null  float64
 18  FAC_HOGAR  59285 non-null  int64
 19  UPM_DIS    59285 non-null  int64
 20  EST_DIS    59285 non-null  int64
 21  DOMINIO    59285 non-null  object
 22  TLOC       59285 non-null  int64
 23  ESTRATO    59285 non-null  int64
 24  ENT        59285 non-null  int64
 25  code       59285 non-null  object
dtypes: float64(11), int64(13), object(2)
memory usage: 11.8+ MB

In [6]:
data1 = q1.iloc[:,[4,5,6,9,10,11,12,13,14,19,20,21,22,23,24,25]]
data1.head(10)

,PAREN,SEXO,EDAD,P3_7,NIVEL,GRADO,P3_9_1,P3_9_2,P3_9_3,UPM_DIS,EST_DIS,DOMINIO,TLOC,ESTRATO,ENT,code
0,1,2,41,2.0,10.0,2.0,1.0,1.0,1.0,1,7,U,1,3,1,1000231
1,1,1,46,2.0,6.0,3.0,2.0,1.0,1.0,1,7,U,1,3,1,1000232
2,1,2,50,2.0,8.0,4.0,1.0,1.0,1.0,1,7,U,1,3,1,1000233
3,1,1,56,2.0,2.0,6.0,2.0,1.0,1.0,1,7,U,1,3,1,1000234
4,1,1,71,2.0,8.0,5.0,2.0,2.0,1.0,1,7,U,1,3,1,1000235
5,1,1,42,2.0,2.0,6.0,2.0,1.0,1.0,2,6,U,1,2,1,1000291
6,1,1,85,2.0,2.0,6.0,1.0,1.0,1.0,2,6,U,1,2,1,1000292
7,1,1,57,2.0,2.0,6.0,2.0,2.0,2.0,2,6,U,1,2,1,1000293
8,1,1,58,2.0,3.0,3.0,2.0,2.0,1.0,2,6,U,1,2,1,1000295
9,1,1,61,2.0,2.0,6.0,1.0,1.0,1.0,3,7,U,1,3,1,1000371

In [7]:
data1.to_csv('residente_paren_1_limpio.csv')

In [8]:
data[data['UPM'] == 100023]

,UPM,VIV_SEL,HOGAR,NUM_REN,PAREN,SEXO,EDAD,DIA,MES,P3_7,...,P3_10,P3_11,P3_12,FAC_HOGAR,UPM_DIS,EST_DIS,DOMINIO,TLOC,ESTRATO,ENT
0,100023,1,1,1,1,2,41,16.0,9.0,2.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1
1,100023,2,1,1,1,1,46,2.0,9.0,2.0,...,7.0,NaN,NaN,174,1,7,U,1,3,1
2,100023,2,1,2,2,2,47,5.0,9.0,2.0,...,6.0,4.0,NaN,174,1,7,U,1,3,1
3,100023,2,1,3,3,2,23,22.0,1.0,2.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1
4,100023,2,1,5,3,2,17,22.0,10.0,1.0,...,5.0,4.0,NaN,174,1,7,U,1,3,1
5,100023,2,1,6,3,1,13,25.0,8.0,1.0,...,5.0,4.0,NaN,174,1,7,U,1,3,1
6,100023,2,1,4,3,2,21,17.0,9.0,2.0,...,6.0,4.0,NaN,174,1,7,U,1,3,1
7,100023,3,1,1,1,2,50,5.0,6.0,2.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1
8,100023,3,1,2,3,2,19,5.0,6.0,1.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1
9,100023,4,1,1,1,1,56,16.0,8.0,2.0,...,1.0,NaN,4.0,174,1,7,U,1,3,1
10,100023,4,1,2,2,2,55,9.0,8.0,2.0,...,6.0,4.0,NaN,174,1,7,U,1,3,1
11,100023,4,1,6,3,2,34,12.0,10.0,2.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1
12,100023,4,1,3,3,2,28,15.0,1.0,2.0,...,6.0,4.0,NaN,174,1,7,U,1,3,1
13,100023,4,1,5,4,2,3,NaN,NaN,NaN,...,NaN,NaN,NaN,174,1,7,U,1,3,1
14,100023,4,1,9,4,1,10,27.0,7.0,1.0,...,NaN,NaN,NaN,174,1,7,U,1,3,1
15,100023,4,1,8,4,1,15,13.0,4.0,1.0,...,5.0,4.0,NaN,174,1,7,U,1,3,1
16,100023,4,1,7,5,1,34,7.0,10.0,2.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1
17,100023,4,1,4,5,1,30,29.0,6.0,2.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1
18,100023,5,1,1,1,1,71,7.0,5.0,2.0,...,4.0,4.0,NaN,174,1,7,U,1,3,1
19,100023,5,1,2,2,2,67,24.0,1.0,2.0,...,6.0,4.0,NaN,174,1,7,U,1,3,1
20,100023,5,1,3,3,2,32,23.0,7.0,2.0,...,1.0,NaN,1.0,174,1,7,U,1,3,1

In [9]:
A=data.UPM.astype(str)
B=data.VIV_SEL.astype(str)
C = A+B
data['code']=C

In [10]:
x=[]
k=[]

In [11]:
for i in range(len(data)):
    j = data['code'][i]
    if k!= j:
        cc=data[data['code'] == j]
        cmax=cc[cc['NIVEL']==cc['NIVEL'].max()]
        aa=cmax.iloc[0]
        x.append(aa)
        k=j

KeyboardInterrupt:

In [ ]:
q2=pd.DataFrame(x)

In [ ]:
q2

In [ ]:
data11 = q2.iloc[:,[4,5,6,9,10,11,12,13,14,19,20,21,22,23,24,25]]
data11.head(10)

In [ ]:
data11.to_csv('residente_nivel_max_limpio.csv')

In [13]:
data2 = pd.read_csv('../data/vivienda.csv')
f = data2.head(10)

print(tabulate(f.values, f.columns, tablefmt="pipe"))

|    UPM |   VIV_SEL |   P1_1 |   P1_2 |   P1_3 |   P1_4 |   P1_5_1 |   P1_5_2 |   P1_5_3 |   P2_1 |   P2_2 |   P2_3 |   FAC_VIV |   UPM_DIS |   EST_DIS | DOMINIO   |   TLOC |   ESTRATO |   ENT |
|-------:|----------:|-------:|-------:|-------:|-------:|---------:|---------:|---------:|-------:|-------:|-------:|----------:|----------:|----------:|:----------|-------:|----------:|------:|
| 100023 |         1 |      3 |      1 |      1 |      1 |        1 |        1 |        1 |      1 |      1 |    nan |       174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         2 |      3 |      1 |      1 |      1 |        1 |        1 |        1 |      6 |      1 |    nan |       174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         3 |      3 |      1 |      1 |      1 |        1 |        1 |        1 |      2 |      1 |    nan |       174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         4 |      3 |      1 |      1 |      1 |        1 |        1 |        2 |      9 |      1 |    nan |       174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100023 |         5 |      3 |      1 |      1 |      1 |        1 |        1 |        2 |      3 |      1 |    nan |       174 |         1 |         7 | U         |      1 |         3 |     1 |
| 100029 |         1 |      3 |      1 |      1 |      1 |        1 |        1 |        2 |      5 |      1 |    nan |       222 |         2 |         6 | U         |      1 |         2 |     1 |
| 100029 |         2 |      3 |      1 |      1 |      1 |        1 |        1 |        1 |      3 |      1 |    nan |       222 |         2 |         6 | U         |      1 |         2 |     1 |
| 100029 |         3 |      2 |      1 |      1 |      1 |        2 |        2 |        2 |      5 |      1 |    nan |       222 |         2 |         6 | U         |      1 |         2 |     1 |
| 100029 |         5 |      3 |      1 |      1 |      1 |        1 |        1 |        1 |      3 |      1 |    nan |       222 |         2 |         6 | U         |      1 |         2 |     1 |
| 100037 |         1 |      3 |      1 |      1 |      1 |        1 |        1 |        2 |      6 |      1 |    nan |       169 |         3 |         7 | U         |      1 |         3 |     1 |

In [ ]:
A=data2.UPM.astype(str)
B=data2.VIV_SEL.astype(str)
C = A+B
data2['code']=C

In [ ]:
data2.info()

In [ ]:
data3 = data2.iloc[:,[2,3,4,5,6,7,8,9,10,11,18,19]]
data3.head()

In [ ]:
data4 = pd.read_csv('hogar.csv')
data4.head(10)

In [ ]:
A=data4.UPM.astype(str)
B=data4.VIV_SEL.astype(str)
C = A+B
data4['code']=C

In [ ]:
data5 = data4.iloc[:,[2,3,4,5,6,7,8,9,10,11,12,14,16,30,50,74,84]]

In [ ]:
bruto1=pd.merge(data3, data5, on='code', suffixes=('_vive','_hogar'))

In [ ]:
bruto1

In [ ]:
bruto1.isnull().sum()

In [ ]:
df = bruto1.iloc[:,[0,1,2,3,4,5,6,7,8,10,11,12,13,14,15,16,17,18,21,22,24]]
df.head()

In [ ]:
df.info()

In [ ]:
df.to_csv('vivienda_hogar_limpio.csv')

In [ ]:
bruto.duplicated().sum()

In [ ]:
sin_duplicados=bruto.drop_duplicates()

In [ ]:
sin_duplicados.to_csv('sin_duplicados.csv')

In [ ]:
df_con_nulos = pd.read_csv('sin_duplicados.csv')

In [ ]:
df_con_nulos.isnull().sum()